.mat-mdc-outlined-button {
  --mdc-outlined-button-label-text-color: #65558f;
  height: 48px;
  border-radius: 0.75rem
}

.mat-mdc-button {
  background-color: #bbdefb;
  height: 48px;
  border-radius: 0.75rem
}

::ng-deep .mdc-notched-outline__notch {
  border-right: none;
}
